@import url('package:google_fonts/google_fonts.dart');

.App{
    min-height: 100vh;  
    display: flex; 
    background-image: url("./background.png");
    /* background-image: url("./image.png"); */
    background-size: cover; 
    background-position: center;

}